<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/css/Contact.css">
  </head>
  <body>
      <div class="main">
          <div class="list">
              <ul>
                  <li>    <a href="mainpage" class="nav_menu">HOME</a>   </li>
                  <li>    <a href="menu" class="nav_menu">OUR MENU</a>   </li>
                  <li>    <a href="offer" class="nav_offers">OFFERS</a>   </li>
                  <li>    <a href="contact" class="nav_contact">CONTACT</a> </li>
                  <li>    <a href="order" class="nav_contact">ORDER</a> </li>


              </ul>
          </div>
          <div class="image">
          </div>


          <div class="contact">
              <h2>Customer Care Number</h2>
              <p>  1860-210-0000 </p>

              <h2>Contact Address</h2>
              <p>

                Tower-C, Plot No. 6,4th Floor, Logix Techno Park, Ground Floor, Timmy Arcade,Sector 127, Pune - 411036, Maharashtra
              </p>


          </div>

        </div>


  </body>
</html>