<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/assets/css/MainPage.css" rel="stylesheet" type="text/css" >
    </head>
    <body>

        <div class="main">
            <div class="list">
                <ul>
                    <li>    <a href="mainpage" class="nav_menu">HOME</a>   </li>
                    <li>    <a href="menu" class="nav_menu">OUR MENU</a>   </li>
                    <li>    <a href="#" class="nav_offers">OFFERS</a>   </li>
                    <li>    <a href="#" class="nav_contact">CONTACT</a> </li>
                    <li>    <a href="#" class="nav_contact">ORDER</a> </li>

                    <div class="buttons">
                        <li ><button class="btn" type="button" onclick="document.getElementById('log').style.display='block'">LOGIN</button></li>
                        <li ><button class="btn"type="button" onclick="document.getElementById('sgn').style.display='block'">SIGNUP</button></li>
                    </div>

                </ul>
            </div>

            <div class="slideshow-container">
                <div class="imageslideshow fade">
                    <div class="num">1/4</div>
                    <img src="/assets/images/Pizza2.jpg" style="width:100%">
                  </div>


                <div class="imageslideshow fade">
                    <div class="num">2/4</div>
                    <img src="/assets/images/Pizza1.jpg" style="width:100%">
                  </div>

                <div class="imageslideshow fade">
                    <div class="num">3/4</div>
                    <img src="/assets/images/Pizza3.jpg" style="width:100%" alt="not available">
                </div>

                <div class="imageslideshow fade">
                    <div class="num">4/4</div>
                    <img src="/assets/images/Pizza4.jpg" style="width:100%">
                </div>

                <!-- Next and previous buttons -->

                </div>
                <br>


            <!-- The dots/circles -->
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span>
              <span class="dot" onclick="currentSlide(2)"></span>
              <span class="dot" onclick="currentSlide(3)"></span>
              <span class="dot" onclick="currentSlide(4)"></span>

            </div>

      </div>
    </div>

    <script src="/assets/scripts/animation.js">
    </script>


    <div id="log" class="modal">

      <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
          <span onclick="document.getElementById('log').style.display='none'" class="close" title="Close Modal">&times;</span>
          <!--<img src="img_avatar2.png" alt="Avatar" class="avatar">  -->
            </div>

        <div class="container">
          <label for="uname" style="color:orange;"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="container" style="background-color:black;">
          <button type="button" onclick="document.getElementById('log').style.display='none'" class="cancelbtn">Cancel</button>
          <span class="psw"><a href="#">Forgot password?</a></span>
        </div>
      </form>
    </div>

    <div id="sgn" class="modal">
      <span onclick="document.getElementById('sgn').style.display='none'" class="close" title="Close Modal">&times;</span>
      <form class="modal-content" action="/action_page.php">
        <div class="container">
          <h1 style="color:orange;">Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label>


          <div class="clearfix">
            <button type="button" onclick="document.getElementById('sgn').style.display='none'" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
      </form>
    </div>






  </body>

</html>