<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/assets/css/Common.css" rel="stylesheet" type = "text/css">
    <title>MENU</title>

  </head>
  <body>

      <div class="list">
          <ul>
              <li>    <a href="mainpage" class="nav_menu">HOME</a>   </li>
              <li>    <a href="menu" class="nav_menu">OUR MENU</a>   </li>
              <li>    <a href="#" class="nav_offers">OFFERS</a>   </li>
              <li>    <a href="#" class="nav_contact">CONTACT</a> </li>
              <li>    <a href="#" class="nav_contact">ORDER</a> </li>


          </ul>
      </div>

      <div class="top-menu" style="border:1px solid orange">
            <p style="color:orange;text-align:center;font-size:25px;">OUR MENU</p>

      </div>


      <div class="veg-nonveg">
          <table border="3">
              <tr>
                <td style="width:50%"> <a href="veg" style="padding:0;"> <p>VEG PIZZAS  </p><img src="/assets/images/PeppyPaneer.jpg" alt=""> </a> </td>
                <td style="width:50%"> <a href="nonveg" style="padding:0;"><p>NON VEG PIZZAS  </p><img src="/assets/images/NonVegSupreme.jpg" alt=""> </a></td>
              </tr>
          </table>
      </div>



  </body>
</html>