<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/Common.css" type = "text/css">
    <title></title>
  </head>
  <body>

    <div class="list">
        <ul>
            <li>    <a href="mainpage" class="nav_menu">HOME</a>   </li>
            <li>    <a href="menu" class="nav_menu">OUR MENU</a>   </li>
            <li>    <a href="#" class="nav_offers">OFFERS</a>   </li>
            <li>    <a href="contact" class="nav_contact">CONTACT</a> </li>
            <li>    <a href="order" class="nav_contact">ORDER</a> </li>


        </ul>
    </div>

      <table border="3">
        <tr>
          <td class="zoom"> <img src="/assets/images/NonVegSupreme.jpg" alt="">
            <div class="overlay">
              <h2>Non Veg Supreme</h2>
              <p class="text">Bite into supreme delight of Black Olives, Onions, Grilled Mushrooms, Pepper BBQ Chicken, Peri-Peri Chicken, Grilled Chicken Rashers</p>
            </div>
           </td>
          <td class="zoom"> <img src="/assets/images/PepperBarbequeChicken.jpg" alt="">
            <div class="overlay">
              <h2>Pepper Barbecue Chicken </h2>
              <p class="text">Pepper Barbecue Chicken | Cheese</p>
            </div>
          </td>
          <td class="zoom"> <img src="/assets/images/ChickenSausage.jpg" alt="">
            <div class="overlay">
              <h2>Chicken Sausage</h2>
              <p class="text">Chicken Sausage | Cheese</p>
            </div>
          </td>
        </tr>


          <tr>
            <td class="zoom"> <img src="/assets/images/ChickenDominator.jpg" alt="">
              <div class="overlay">
                <h2>Chicken Dominator</h2>
                <p class="text">Treat your taste buds with Double Pepper Barbecue Chicken, Peri-Peri Chicken, Chicken Tikka & Grilled Chicken Rashers</p>
              </div>
            </td>
            <td class="zoom"> <img src="/assets/images/ChickenFiesta.jpg" alt="">
              <div class="overlay">
                <h2>Chicken Fiesta</h2>
                <p class="text">Grilled Chicken Rashers | Peri-Peri Chicken | Onion | Capsicum</p>
              </div>
            </td>
            <td class="zoom"> <img src="/assets/images/ChickenGoldenDelight.jpg" alt="">
              <div class="overlay">
                <h2>Chicken Golden Delight</h2>
                <p class="text">Mmm! Barbeque chicken with a topping of golden corn loaded with extra cheese. Worth its weight in gold!</p>
              </div>
            </td>
          </tr>

      </table>
  </body>
