<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/css/Order.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        clear();
      });
    </script>

  </head>
  <body onload="clear()">
    <div class="list">
        <ul>
            <li>    <a href="mainpage" class="nav_menu">HOME</a>   </li>
            <li>    <a href="menu" class="nav_menu">OUR MENU</a>   </li>
            <li>    <a href="offer" class="nav_offers">OFFERS</a>   </li>
            <li>    <a href="contact" class="nav_contact">CONTACT</a> </li>
            <li>    <a href="order" class="nav_contact">ORDER</a> </li>


        </ul>
    </div>

    <center> <p> Select Your Pizzas </p> </center>
    <form class="" action="index.html" method="post">
      <div class="choices" id="veg_nonveg" >

          <label> <input type="radio" name="type" value="" id="veg" onclick="category(this)" /> Veg</label>
        <label>   <input type="radio" name="type" value="" id="nonveg" onclick="category(this)"/>  Non Veg</label>

      </div>

    </form>

<div class="main">
  <form name="orderForm" action="order" method="post">
          
          <div id="veg-container" style="float:left">
              <div class="veg-pizzas">
                <div class="pizza-container">
                  <input type="checkbox" id="cbox1" name="Veg-pizza1" value="" />  <label>   Margherita</label>
                  <div class="both" id="bothveg_cbox1" >
                      <label for="text"> Enter Quantity</label>  <input type="text" name="veg1_quantity" placeholder="0" />
                       <label><input type="radio" name="type1" value="small" /> Small</label>
                       <label><input type="radio" name="type1" value="medium" />  Medium</label>
                       <label><input type="radio" name="type1" value="large" />  Large</label>

                  </div>
                </div>
                
                <div class="pizza-container">
                  <input type="checkbox" id="cbox3" name="Veg-pizza3" value="" />  <label>   Farmhouse</label>
                  <div class="both" id="bothveg_cbox3" >
                          <label for="text"> Enter Quantity</label>  <input type="text" name="veg2_quantity" placeholder="0" />
                           <label><input type="radio" name="type2" value="small" />  Medium</label>
                           <label><input type="radio" name="type2" value="medium" /> Small</label>
                           <label><input type="radio" name="type2" value="large" />  Large</label>

                  </div>
                </div>

                <div class="pizza-container">
                  <input type="checkbox" id="cbox5" name="Veg-pizza5" value=""  />   <label>  Veg Extravaganza</label>
                  <div class="both" id="bothveg_cbox5" >
                              <label><label for="text"> Enter Quantity</label>  <input type="text" name="veg3_quantity" placeholder="0" />
                               <label><input type="radio" name="type3" value="small" /> Small</label>
                               <label><input type="radio" name="type3" value="medium" />  Medium</label>
                               <label><input type="radio" name="type3" value="large" />  Large</label>

                  </div>
                </div>

              </div>
          </div>

          <div id="nonveg-container" style="float:right">          
              
              <div  class="nonveg-pizzas">
                <div class="pizza-container">
                  <input type="checkbox" id="cbox1" name="Veg-pizza1" value="" />    <label> Non Veg Supreme</label>
                  <div class="nonveg" id="bothnonveg_cbox1" >
                      <label for="text"> Enter Quantity</label>  <input type="text" name="nonveg1_quantity" placeholder="0" />
                       <label><input type="radio" name="type4" value="small" /> Small</label>
                       <label><input type="radio" name="type4" value="medium" />  Medium</label>
                       <label><input type="radio" name="type4" value="large" />  Large</label>

                  </div>
                </div>
                  
                <div class="pizza-container">
                  <input type="checkbox" id="cbox2" name="Veg-pizza2" value="" />  <label>   Pepper Barbeque Chicken</label>
                  <div class="nonveg" id="bothnonveg_cbox2" >
                        <label for="text"> Enter Quantity</label>  <input type="text" name="nonveg2_quantity" placeholder="0" />
                         <label><input type="radio" name="type5" value="small" /> Small</label>
                         <label><input type="radio" name="type5" value="medium" />  Medium</label>
                         <label><input type="radio" name="type5" value="large" />  Large</label>

                  </div>
                </div>

                <div class="pizza-container">
                  <input type="checkbox" id="cbox3" name="Veg-pizza3" value="" /> <label>    Chicken Sausage</label>
                  <div class="nonveg" id="bothnonveg_cbox3" >
                          <label for="text"> Enter Quantity</label>  <input type="text" name="nonveg3_quantity" placeholder="0" />
                           <label><input type="radio" name="type6" value="small" /> Small</label>
                           <label><input type="radio" name="type6" value="medium" />  Medium</label>
                           <label><input type="radio" name="type6" value="large" />  Large</label>

                  </div>
                </div>
              
              </div>

        </div>


      <div class="address" id="address" >
        <label for="">Enter Your address</label>
        <textarea name="address" rows="3" cols="80" placeholder="Enter your address here"></textarea>
      </div>

      <div class="code" id="codediv" >
        <label for="">Enter Your code</label>
        <input type="text" id="code" name="code" placeholder="Enter your code here">
      </div>

       <div class="bill" id="billdiv">
          <button type="submit" id="button" onclick="Bill()">SUBMIT</button>
      </div>

  </form>
</div>



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>BILL</h2>
    </div>
    <div class="modal-body" id="textcode">

    </div>
    <div class="modal-footer">
      <p>Your Pizzas will be delivered in 30 minutes</p>
      <h3>THANK YOU :)</h3>

    </div>
  </div>

</div>


<script type="text/javascript">
      function Bill()
      {
        // Get the modal
            var modal = document.getElementById('myModal');
            // Get the button that opens the modal
            var offer=document.getElementById("code").value;
            var btn = document.getElementById("button");
            //alert(offer)
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            document.getElementById("textcode").innerHTML="Your code==";
            var element=document.getElementById("textcode")
            // When the user clicks the button, open the modal
            btn.onclick = function() {
              modal.style.display = "block";
            }
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.style.display = "none";
            }
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
      }
</script>



    <script>
          function check(cb)
          {
            var status=cb.checked;
            var id=cb.id;
            id="veg_"+String(id);
            alert(true);
            if(status==true)
            {
              document.getElementById(id).style.visibility="visible";
            }
            else
            {
              document.getElementById(id).style.visibility="hidden";
            }
          }
          

          function category(rb)
          {
            var status=rb.checked;
            var id=rb.id;
            var visible;
            
            if(status==true && (String(id)=="veg"))
            {
                id_container = "veg-container";
                document.getElementById(id_container).style.visibility="visible";

                id_container = "nonveg-container";
                document.getElementById(id_container).style.visibility="hidden";


                document.getElementById('address').style.visibility="visible";
              document.getElementById('codediv').style.visibility="visible";
              document.getElementById('billdiv').style.visibility="visible";
            }
            else if(status==true && (String(id)=="nonveg"))
            {
                id_container = "nonveg-container";
                document.getElementById(id_container).style.visibility="visible";

                id_container = "veg-container"; 
                document.getElementById(id_container).style.visibility="hidden";

                document.getElementById('address').style.visibility="visible";
              document.getElementById('codediv').style.visibility="visible";
              document.getElementById('billdiv').style.visibility="visible";
            }
            else if(status==true && (String(id)=="both"))
            {
                id_container = "veg-container";
                document.getElementById(id_container).style.visibility="visible";
                id_container = "nonveg-container";
                document.getElementById(id_container).style.visibility="visible";   

                document.getElementById('address').style.visibility="visible";
              document.getElementById('codediv').style.visibility="visible";
              document.getElementById('billdiv').style.visibility="visible";
            } 
            else
            {
                //document.getElementById(id).style.visibility="hidden";
            }
            
            //Clear after submission
           clear();
          }


          function clear()
          {
            //alert("in")
          var elements = document.getElementsByTagName("input");
          for (var ii=0; ii < elements.length; ii++) {
            if (elements[ii].type == "text") {
              elements[ii].value = "";
            }
            if(elements[ii].type=="checkbox")
            {
              elements[ii].checked=false;
            }
           /*if(elements[ii].type=="radio")
            {
              elements[ii].checked=false;
            }*/
          }
        }
    </script>
  </body>
</html>