<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/Common.css" type = "text/css">
    <title></title>
  </head>
  <body>

        <div class="list">
            <ul>
                <li>    <a href="mainpage" class="nav_menu">HOME</a>   </li>
                <li>    <a href="menu" class="nav_menu">OUR MENU</a>   </li>
                <li>    <a href="#" class="nav_offers">OFFERS</a>   </li>
                <li>    <a href="#" class="nav_contact">CONTACT</a> </li>
                <li>    <a href="#" class="nav_contact">ORDER</a> </li>


            </ul>
        </div>

      <table border="3">
        <tr>
          <td class="zoom"> <img src="/assets/images/Margherita.jpg" alt="">
            <div class="overlay">
              <h2>Margherita</h2>
              <p class="text">A hugely popular margherita, with a deliciously tangy single cheese topping</p>
            </div>
           </td>
          <td class="zoom"> <img src="/assets/images/DoubleCheeseMargherita.jpg" alt="">
            <div class="overlay">
              <h2>Double Cheese Margherita</h2>
              <p class="text">The ever-popular Margherita - loaded with extra cheese... oodies of it!</p>
            </div>
          </td>
          <td class="zoom"> <img src="/assets/images/Farmhouse.jpg" alt="">
            <div class="overlay">
              <h2>Farmhouse</h2>
              <p class="text">A pizza that goes ballistic on veggies! Check out this mouth watering overload of crunchy, crisp capsicum, succulent mushrooms and fresh tomatoes</p>
            </div>
          </td>
        </tr>


          <tr>
            <td class="zoom"> <img src="/assets/images/PeppyPaneer.jpg" alt="">
              <div class="overlay">
                <h2>Peppy Paneer</h2>
                <p class="text">Chunky paneer with crisp capsicum and spicy red pepper - quite a mouthful!</p>
              </div>
            </td>
            <td class="zoom"> <img src="/assets/images/VegExtravaganza.jpg" alt="">
              <div class="overlay">
                <h2 style="padding:5px;">Veg Extravaganza</h2>
                <p class="text">A pizza that decidedly staggers under an overload of golden corn, exotic black olives, crunchy onions, crisp capsicum and jalapeno - with extra cheese to go all around.</p>
              </div>
            </td>
            <td class="zoom"> <img src="/assets/images/VeggieParadise.jpg" alt="">
              <div class="overlay">
                <h2>Veggie Paradise</h2>
                <p class="text">Goldern Corn, Black Olives, Capsicum & Red Paprika</p>
              </div>
            </td>
          </tr>

      </table>

  </body>
</html>