/*CSS file for xml*/
body {
	font-family:'Arial';
	background-color: orange;
}

h1 {
	text-align: center;
	color: black;
}

hr {
	color: black;
}

#sitemap {
		width: 100%;
}

#sitemap th {
	padding-top: 10%;
	padding-left: 11%;
	color: 	white;
	text-align: center;
	font-size: 1.8em;
}

a {
	color: black;
	text-decoration: none;
	display:inline-block;
	margin:0;
}

a:after {
	display:block;
	content: '';
	border-bottom: 3px solid black;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

a:hover:after {
	transform: scaleX(1);
}

a:link:after {
	transform-origin:  0% 50%;
}

#sitemap td {
	color: #f5f5dc;
	padding-top: 3%;
	padding-left: 11%;
	font-size: 1.5em;
	text-align: center;
}

#sitemap td:hover {
	opacity: 0.8;
}