html{
    scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: Arial,sans-serif;
  background:black;
  overflow: hidden;
  font-size: 20px;
  color: orange;

}
ul{
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: #0d0d0d;
  /*box-shadow: 3px 10px 15px -2px blue;*/
  border: 1px solid orange;
}
a{
  display: block;
  color: orange;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family: sans-serif;
}

li{
  display: inline;
  float: left;
  scroll-behavior: smooth;
  font-size: 20px;
  font-weight: bold;
}

li a:hover:not(.active){
  border-radius: 5px;
  background-color: #040004;
  border-bottom: 3px solid orange;
}
.active {
    border-bottom: 3px solid orange;
}

ul{
  list-style-type: none;
}
.image{

 background-image: url("/assets/images/DeliveryMan.jpg");
 min-height: 200px;
 min-width: 100%;
 overflow: hidden;
 border-bottom: 3px solid orange;

}
.main{
  overflow: auto;
}
h2{
  text-align: center;
}
p{
  text-align: center;

}
.contact{
  vertical-align: middle;
  text-align: center;
  padding: 50px;

}