html{
    scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: Arial,sans-serif;
  background:black;
  overflow: hidden;
  color: orange;
  font-size: 20px;

}

ul{
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: #0d0d0d;
  /*box-shadow: 3px 10px 15px -2px blue;*/
  border: 1px solid orange;
}

li{
  display: inline;
  float: left;
  scroll-behavior: smooth;
  font-size: 20px;
  font-weight: bold;
}

li a:hover:not(.active){
  border-radius: 5px;
  background-color: #040004;
  border-bottom: 3px solid orange;
}

.active {
    border-bottom: 3px solid orange;
}

ul{
  list-style-type: none;
}

input[type=text]{
  width: 10%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  height: 10px;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus{
  background-color: white;
  outline: none;
}

/* Set a style for all buttons */
.buttons{
  float: right;
  overflow: hidden;

}

.btn {
  background-color: orange;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.85;
  font-size: 15px;

  height: 40px;
  align-items:center;
  display:inline;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family: sans-serif;
  border: 1px solid orange;
  overflow: hidden;

}

button:hover {
  opacity:0.9;
}

.btn:hover:not(.active){
  border-radius: 5px;
  background-color: #040004;
  border-bottom: 3px solid orange;

}

a{
  display: block;
  color: orange;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family: sans-serif;

}

button {
  background-color: orange;
  color: white;
  padding: 14px 20px;
  margin: 14px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.main{
  width: 100%;
  position: relative;
}
#veg-container {
    visibility:hidden;
    width:100%;
    padding: 50px 20px;

}

#nonveg-container {
    visibility: hidden;
    width:100%;
    position: absolute;
    padding: 50px 20px;

}

#both-container {
    visibility: hidden;
    width:100%;
    position: absolute;
    padding: 50px 20px;

}

.address{

  visibility: hidden;
  width: 100%;
  vertical-align: middle;


}


.veg {
    visibility:hidden;
  }

.nonveg {
    visibility:hidden;
  }
.both {
    visibility:hidden;
  }



input[type=checkbox]:checked ~ .nonveg {
    visibility:visible;

}

input[type=checkbox]:checked ~ .both {
    visibility:visible;

}
p{
  font-size: 25px;
  display: block;
  align-content: center;
}
.both-veg, .both-nonveg{
    width:50%;
    float: left;
    border: 1px solid orange;
}
.veg-pizzas,.nonveg-pizzas{
    border: 1px solid orange;
}
.choices,.address{
      margin-top: 10px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      font-size: 20px;


}

.bill{
  margin-top: 10px;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40%;
  visibility: hidden;
  vertical-align: middle;


}
.address label
{
    display: inline-block;
    margin-left:5px;
    width:15%;
    min-width:60px;
    padding-left: 25px;
}
/*
.address input
{
    margin-right:9px;
    display: inline-block;
    width:20%;
    font-size:15px;
    min-width:30px;
}*/
.code{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  visibility: hidden;
  vertical-align: middle;


}
.code input
{
    margin-right:9px;
    display: inline-block;
    width:44.5%;
    font-size:15px;

    min-width:30px;
}
.code label
{
    display: inline-block;
    margin-left:42px;
    width:15%;
    min-width:60px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: orange;
  color: black;
  text-align: center;
}

.modal-body
{
  padding: 2px 16px;
  background-color: black;
  color:orange;
  text-align: center;
  font-size: 28px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: orange;
  color: black;
  text-align: center;
}